* {
    margin: 0;
}

.contenedor {
    background: rgb(44, 238, 5);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p {
    font-size: xx-large;
    padding: 15%;
    padding: 12px;

}

button {
    font-size: xx-large;
    padding: 0.75em;
    border-radius: 10px;

}

#yesBtn {
    transform: translate(-100%, 0);
    background-color: rgb(250, 5, 250);
}

#noBtn {
    position: absolute;
    background-color: rgb(243, 245, 241);
}

img {
    width: 40%;
    height: 50%;
    padding: 20px;
    margin: 25px;
    border-radius: 40px;
}

a {
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(239, 241, 237);
    height: 20%;
    font-size: 20px;
    text-align: end;

}